<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        #timeDiv, #facilityDiv {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    <title>시설예약</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">시설예약</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text">
            아바드팀 2셀 서형준
        </span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">시간선택</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Loading...
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="/webjars/handlebars/4.0.11/handlebars.js"></script>

<div class="container" id="pageLayout">

<div class="container mt-3 border-light" id="timeDiv"></div>

<script id="time-template" type="text/x-handlebars-template">
<h4>시간 선택</h4>
<div class="d-flex align-content-start flex-wrap">
    \{{#each bookingTimeList}}
    <div class="m-1 p-1 bd-highlight border time \{{code}}">
        <input type="hidden" name="\{{code}}" value="N" />
        <small class="text-monospace">\{{code}}</small>
    </div>
    \{{/each}}
</div>
</script>

<div class="container border-light" id="facilityDiv"></div>

<script id="facility-template" type="text/x-handlebars-template">
<h4>시설 선택</h4>
<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th scope="col">구분</th>
        <th scope="col">시설</th>
        {{#each dayOfWeekList}}<th scope="col" class="day {{eng}}">{{kor}}<input type="hidden" name="{{eng}}" value="N" /></th>{{/each}}
    </tr>
    </thead>
    <tbody>
    \{{#each facilityList}}
    <tr>
        \{{#ifFirst sequence}}\{{getSiteTH siteId}}\{{/ifFirst}}
        <th class="facility \{{code}}">\{{title}}<input type="hidden" name="\{{code}}" value="N" /></th>
        {{#each dayOfWeekList}}<td class="{{eng}} \{{code}}"></td>{{/each}}
    </tr>
    \{{/each}}
    </tbody>
</table>
</script>

</div>

<script src="/js/app/index.js"></script>

</body>
</html>